
<h3 class="section-title">Categorías</h3>
<section class="content-section w-50">
    <div class="form-group w-100">
        <form class="w-90">
            <!-- ------------Categoria 1------------ -->
            <div class="form-control">
                 <div class="input-control"> 
                    <label>Categoría 1</label>
                    <button class="modi">Modificar</button>
                    <button class="eli">Eliminar</button>
                 </div> 
            </div>
            <!-- -----------Categoria 2------------- -->
            <div class="form-control">
                <div class="input-control">
                    <label>Categoría 2</label>
                    <button class="modi">Modificar</button>
                    <button class="eli">Eliminar</button>
                </div>
            </div>
            <!-- --------------Categoria 3--------------------- -->
            <div class="form-control">
                <div class="input-control">
                    <label>Categoría 3</label>
                    <button class="modi">Modificar</button>
                    <button class="eli">Eliminar</button>
                </div>
            </div>
            <div class="guardar">
            <div class="form-control">
                <button type="submit">Guardar</button>
              </div>
            </div>
    
        </form>
    </div>
</section>



