<aside [ngClass]="sideMenu ? 'close' : 'open'">
  <div class="menu">
    <button (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <nav>
      <a routerLink="{{ route.path }}" *ngFor="let route of navRoutes">
        <span class="icon {{ route.icon }}"></span>

        <span class="route-text">
          {{ route.name }}
        </span>
      </a>
    </nav>
  </div>
  <div class="settings">
    <a routerLink="settings"><span class="icon-settings"></span></a>
  </div>
</aside>
