<div>
  <h1 class="titulo-login">Iniciar Sesión</h1>
</div>
<div class="content-form">
  <form [formGroup]="formLogin" (submit)="setLoginOnApplication()">
   
      <label>Email o DNI</label><br>

      <input type="text" class="form-input" formControlName="userPass" />

      <div class="mensajeError-control">
         <span>{{ getError("userPass") }} </span>
      </div>

    
      <label>Contraseña</label><br>
  
      <input type="password"  class="form-input" formControlName="password" />

      <div class="mensajeError-control">
          <span>{{ getError("password") }} </span>
      </div>

    <div>
      <button type="submit"  class="form-button" [disabled]="formLogin.invalid">Enviar</button>
    </div>
  </form>
</div>
