<div class="form-group form-login">
  <h2 class="form-title">Iniciar Sesión</h2>

  <form
    [formGroup]="formLogin"
    class="w-100"
    (submit)="setLoginOnApplication()"
  >
    <div class="form-control">
      <div class="input-control">
        <label>Email o DNI</label>
        <input type="text" formControlName="userPass" autofocus />
      </div>

      <div class="error-control">
        <span>{{ getError("userPass") }} </span>
      </div>
    </div>

    <div class="form-control">
      <div class="input-control">
        <label>Contraseña</label>
        <input type="password" formControlName="password" />
      </div>
      <div class="error-control">
        <span>{{ getError("password") }} </span>
      </div>
    </div>

    <div class="form-control">
      <button type="submit" [disabled]="formLogin.invalid">Enviar</button>
    </div>
  </form>
</div>
