div.alert {
  z-index: 5000;
  position: fixed;
  width: 30%;
  height: 30%;
  margin: auto;
  background: var(--main-color);
  color: var(--inverted-title);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 35%;
  top: 35%;
}

div.show {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
div.hide {
  opacity: 0;
  /* display: none; */
  z-index: -50000;
  transition: all 0.3s ease-in-out;
}
div.overload {
  background: rgba(0, 0, 0, 0.385);
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 4999;
  top: 0;
  left: 0;
}

div.overload.hide {
  opacity: 0;
  display: none;
  z-index: -50000;
  transition: all 0.3s ease-in-out;
}
