
<h3 class="section-title">Crear Categoría</h3>
<section class="content-section w-50">
    <div class="form-group w-100">
        <form class="w-90">
            <!-- ------------Name------------ -->
            <div class="form-control">
                 <div class="input-control"> 
                    <label>Nombre</label>
                    <input type="text" class="input" name="" id="">
                 </div> 
            </div>
            <!-- -----------Color ------------- -->
            <div class="form-control">
                <div class="input-control">
                    <label>Color</label>
                    <input type="color"  class="input" name="" id="">
                </div>
            </div>
            <!-- --------------Button--------------------- -->
            <div class="guardar">
                <div class="form-control">
                    <button type="submit">Guardar</button>
                  </div>
                </div>
        </form>
    </div>
</section>