a {
  display: flex;
  width: 35px;
  height: 35px;
  margin: 15px;
  background: var(--main-color);
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  color: var(--inverted-title);
  text-decoration: none;
}
