<nav [ngClass]="navToggle ? 'open' : 'close'">
  <div class="brand">
    <h2><a routerLink="/dashboard/home">B4A</a></h2>
  </div>
  <div class="controls">
    <div class="user-controls" (click)="toggleUserControl()">
      <div class="user-avatar">
        <img
          [src]="user.photo ? user.photo : './assets/user-placeholder.jpg'"
          alt="User avatar"
        />
      </div>
      <div class="user" [ngClass]="userControl ? '' : 'hide'">
        <div class="user-image">
          <img
            [src]="user.photo ? user.photo : './assets/user-placeholder.jpg'"
            alt="User image"
          />
        </div>
        <h3>
          <a [routerLink]="['../auth/profile']"
            >{{ user.name }} {{ user.lastName }}</a
          >
        </h3>
        <div class="user-options">
          <button>Perfil</button>

          <button (click)="logout()">Cerrar Sesion</button>
        </div>
      </div>
    </div>
  </div>
</nav>
