<h3 class="section-title">Compañia</h3>

<section class="content-section w-100">
  <div class="form-group w-50">
    <form class="w-100">
      <!-- Nombre de la compañia -->
      <div class="form-control">
        <div class="input-control">
          <label for="name">Nombre de la compañia</label>
          <input type="text" />
        </div>
        <div class="error-control">
          <span></span>
        </div>
      </div>

      <!-- Descripcion de la compañia -->
      <div class="form-control">
        <div class="input-control">
          <label for="description">Descripcion</label>
          <input type="text" />
        </div>
        <div class="error-control">
          <span></span>
        </div>
      </div>

      <!-- Telefono -->
      <div class="form-control">
        <div class="input-control">
          <label for="description">Telefono</label>
          <input type="text" />
        </div>
        <div class="error-control">
          <span></span>
        </div>
      </div>
      <!-- Email -->
      <div class="form-control">
        <div class="input-control">
          <label for="description">Email</label>
          <input type="text" />
        </div>
        <div class="error-control">
          <span></span>
        </div>
      </div>
      <!-- Telefono -->
      <div class="form-control">
        <div class="input-control">
          <label for="log">Logo</label>
          <input type="file" (change)="uploadFile($event)" />
        </div>
        <div class="error-control">
          <span></span>
        </div>
      </div>
      <div class="form-control">
        <button type="submit">Guardar</button>
      </div>
    </form>
  </div>
  <div class="w-50 image-content">
    <div class="image"></div>
  </div>
</section>
