<h3 class="section-title">Compañia</h3>

<section class="content-section w-100">
  <div class="form-group w-50">
    <form class="w-100" [formGroup]="formCompany" (submit)="SaveCompany()">
      <!-- Nombre de la compañia -->
      <div class="form-control"> 
        <div class="input-control">
          <label for="name">Nombre de la compañia</label>
          <input type="text" formControlName="Name" />
        </div>
        <div class="error-control"> 
          <span></span>
        </div>
      </div>

      <!-- Descripcion de la compañia -->
      <div class="form-control">
        <div class="input-control">
          <label for="description">Descripcion</label>
          <input type="text" formControlName="Description"/>
        </div>
        <div class="error-control">
          <span></span>
        </div>
      </div>

      <!-- Telefono -->
      <div class="form-control">
        <div class="input-control">
          <label for="telephone">Telefono</label>
          <input type="tel" formControlName="Telephone" />
        </div>
        <div class="error-control">
          <span></span>
        </div>
      </div>
      <!-- -----Email----- -->
      <div class="form-control">
        <div class="input-control">
          <label for="email">Email</label>
          <input type="email" formControlName="Email" />
        </div>
        <div class="error-control">
          <span></span>
        </div>
      </div>
      <!--------Logo------- -->
      <div class="form-control">
        <div class="input-control">
          <label for="log">Logo</label>
          <input type="file" (change)="uploadFile($event)" formControlName="Logo"/>
        </div>
        <div class="error-control">
          <span></span>
        </div>
      </div>
      <div class="form-control">
        <button type="submit">Guardar</button>
      </div>
    </form>
  </div>
  <div class="w-50 image-content">
    <div class="image"></div>
  </div>
</section>
