/* .form-group: Contenedor de todo un formulario */
.form-group {
  /* width: 45%; */
  height: auto;
  min-height: 300px;
  padding: 20px 10px;
  background: var(--light-back);
  border-radius: var(--border-radius); 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* form-title: Titulo del formulario */
.form-group .form-title {
  font-size: 20px;
  margin: 10px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--main-color);
  padding: 10px;
  border-bottom: 1px solid var(--main-color);
}

/* Form control: Grupos de inputs, labels, iconos y errores */
.form-group .form-control {
  width: 100%;
  display: flex;
  flex-direction: column;
}
/* .input-control: Div que engloba al input y label */

.form-control .input-control {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px 0px;
  margin: 5px 0px;
}
/* Inputs tipo texto */
.form-control .input-control label {
  width: 30%;
  text-align: center;
  color: var(--main-text);
  font-weight: 700;
  font-style: italic;
  font-size: 12px;
}
.form-control .input-control input {
  width: 70%;
  padding: 7px;
  border: none;
  outline: none;
  background: var(--dark-back);
  transition: all 0.4s ease-in-out;
}
/* inputs tipo archivo */
.form-control .input-control .file-control input[type="file"] {
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  display: block;
  opacity: 0;
  position: absolute;
  overflow: hidden;
}
.form-control .input-control .file-control {
  padding: 10px 20px;
  background: var(--dark-back);
  border-radius: var(--border-radius);
  color: var(--main-text);
  text-align: center;
  cursor: pointer;
  position: relative;
}

/* radios */

.input-control .radio-controls {
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.input-control .radio-control {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
/* Error */
.form-control .error-control {
  width: 100%;
  min-height: 12px;
  display: flex;
  align-items: center;
  justify-content: end;
}
.form-control .error-control span {
  text-align: right;
  display: block;
  width: 100%;
  color: #f57b7b;
  font-size: 10px;
  font-weight: 200;
}
.form-control button[type="submit"] {
  padding: 10px;
  width: 50%;
  background: var(--main-color);
  color: var(--light-back);
  border-radius: var(--border-radius);
  border: none;
  outline: none;
  align-self: center;
  justify-self: center;
  cursor: pointer;
  margin: 10px 0px;
  transition: all 0.3s ease-in-out;
}
.form-control button[type="submit"]:disabled {
  background: var(--dark-back);
  color: var(--main-color);
  transition: all 0.3s ease-in-out;
  cursor: not-allowed;
}
/* Validaciones */

.form-control .input-control input.ng-invalid.ng-touched {
  border: 2px solid #f57b7b;
  transition: all 0.4s ease-in-out;
}
.form-control .input-control input.ng-valid.ng-dirty {
  border: 2px solid #93f57b;
  transition: all 0.4s ease-in-out;
}

/* btns */

.btn {
  display: block;
  border-radius: var(--border-radius);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}
.primary {
  background: var(--main-color);
  color: var(--light-back);
}

@media screen and (max-width: 768px) {
  .input-control .radio-controls {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  .input-control .radio-control {
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }

  .inputs-flex {
    flex-direction: column;
  }
  .inputs-flex .form-control {
    width: 100%;
    margin-top: 10px;
  }
}
