<h3 class="section-title">Interfaz</h3>
<section class="content-section w-50">
    <div class="form-group w-100">
        <form class="w-90">
            <!-- ------------Color Principal------------ -->
            <div class="form-control">
                 <div class="input-control"> 
                    <label>Color Principal</label>
                    <input type="color" class="input" name="" id="">
                 </div> 
            </div>
            <!-- -----------Color Secundario------------- -->
            <div class="form-control">
                <div class="input-control">
                    <label>Color Secundario</label>
                    <input type="color"  class="input" name="" id="">
                </div>
            </div>
            <!-- --------------Checkbox--------------------- -->
            <div class="form-control">
                <label class="label">Modo Oscuro</label>
                <div class="switch-container">
                  <input type="checkbox" id="switch" >
                  <label for="switch" class="lbl"></label>
                </div>
            </div>
        </form>
    </div>
</section>